#externalNavUl {
    display: flex;
    gap: 3vh;
}

#externalNavUl li {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#externalNavUl li:hover {
    transform: translateY(-1vh);
}