* {
    font-family: 'Times New Roman', Times, serif;
}

html {
    scroll-behavior: smooth;
}

.transition {
    transition: transform 0.5s, box-shadow .2s;
}

h1 {
    font-size: 4vh;
}

h2 {
    font-size: 2.5vh;
}

h3 {
    font-size: 2vh;
}

a {
    font-size: 1.8vh;
}

button {
    font-size: 1.5vh;
}


body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: linear-gradient(to right, #ADEFD1, #00203F);


}